<!-- Include the head/header -->
{{ partial "header.html" . }}

<!-- Content goes here -->
<div id="content">

<div class="flex-container">
  <div class="flex-item-left"><a href="https://code.hopeph.com/"><img src="images/code.png" alt="</code>" title="computers and Internet" width="400"></a></div>
  <div class="flex-item-center"><a href="https://ink.hopeph.com/"><img src="images/ink.png" alt="ink" title="books and writers" width="400"></a></div>
  <div class="flex-item-right"><a href="https://space.hopeph.com/"><img src="images/space.png" alt="*space*" title="photography" width="400"></a></div>
</div>
<br>
<a href="https://directory.hopeph.com/"><img src="images/directory.png" alt="directory" title="online Filipino destinations" width="400"></a>

</div> <!-- end of content -->


<!-- Include the site info and footer -->
{{ partial "footer.html" . }}