header, #content, footer {
    text-align: center;
}

.quote {
    font-style: italic;
}
.emoji {
    font-style: normal;
}

header {
    margin-bottom: 3em;
}

footer {
    margin-top: 5em;
    color: darkgray;
    font-size: small;
}