    <!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
    <!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
    <footer role="contentinfo">

        <!-- Copyright information can be contained within the <small> element. The <time> element is used here to indicate that the '2018' is a date -->
        <small>hopeph.com ~ Est. <time>2020</time> A.D.</small>

    </footer>

</body>
</html>